[project]
name = "todo-widget"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "pydantic>=2.12.5",
    "pydantic-settings>=2.12.0",
    "pygobject>=3.54.5",
]

[dependency-groups]
dev = [
    "ruff>=0.14.10",
]
